<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filter</key>
	<dict>
		<key>Bundles</key>
		<array>
			<string>com.example.app</string>
		</array>
	</dict>
	<key>FilterType</key>
	<string>Whitelist</string>
	<key>IsSpringBoard</key>
	<false/>
	<key>Message</key>
	<string>tu texto principal aqui</string>
	<key>Buttons</key>
	<array>
		<dict>
			<key>Action</key>
			<string>https://www.instagram.com/mi_perfil</string>
			<key>Text</key>
			<string>Link</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>Done</string>
		</dict>
	</array>
</dict>
</plist>
